<form id="formCadastroBeneficiario" method="post">
    <input type="text" id="IdCliente"/>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="CPF">CPF:</label>
                <input required="required" type="text" class="form-control" id="CPF" name="CPF" placeholder="Ex.: 333.333.333-33" maxlength="30">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" style="margin-top: 24px;">Salvar</button>
            </div>
        </div>
    </div>
</form>
